body {
  background-image: url(https://static.pexels.com/photos/162918/pizza-cheese-margarita-homemade-162918.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}
/*.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #fff } */
